@model DataAcessLayer.ViewModels.Client.UserChangePassword

@{
    ViewData["Title"] = "Profile Menu";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


@section Headers{
    <link href="~/ClientAssets/css/rides.css" rel="stylesheet" />
}
<main class="mainContent relative"
      id="MainContent"
      tabindex="-1"
      style="min-height: 660px; height: auto">
    <div class="transition-wrapper relative "
         style="min-height: 660px; height: auto">
        <div class="sc-bZkfAO dfCmkc page-wrapper  fade-forward-enter-done"
             style="min-height: 660px; height: auto">
            <div class="transition-wrapper relative "
                 style="min-height: 660px; height: auto">
                <div class="sc-bZkfAO dfCmkc page-wrapper  fade-forward-enter-done"
                     style="min-height: 660px; height: auto">
                    <form class="sc-bZkfAO dfCmkc"
                          method="post"
                          style="min-height: 660px; height: auto">
                        <div role="presentation" class="sc-gicCDI dDCeGO">
                            <div role="presentation" class="sc-fctJkW ftnfJP">
                                <div class="section-content">
                                    <h1 class="sc-gsnTZi sc-hTtwUo sc-jgbSNz GJlVl ipZXlI jlbwlf">
                                        Change password
                                    </h1>
                                    <div class="sc-jOrMOR gIkXxY" role="presentation">
                                        <p class="sc-gsnTZi sc-gKXOVf sc-dPyBCJ GJlVl dJWFGW gtTNGS"
                                           style="white-space: inherit;">
                                            It must have at least 8 characters, 1 letter, 1 number
                                            and 1 special character
                                        </p>
                                    </div>
                                    <div data-testid="current-pwd">
                                        <div class="sc-kYWVYA DfnDF kirk-textField">
                                            <div class="kirk-textField-wrapper">
                                                <input spellcheck="false"
                                                       asp-for="OldPassword"
                                                       type="password"
                                                       required
                                                       style="margin-right: auto;@(ViewBag.Error != null ? "background-color: rgb(253, 216, 222)" : "")"
                                                       placeholder="Current password"
                                                       value="" />
                                            </div>
                                            @if (!String.IsNullOrEmpty(ViewBag.Error))
                                            {
                                                <p role="alert" class="sc-gsnTZi sc-gKXOVf sc-himrzO GJlVl dJWFGW fRldBu sc-eGAhfa lhTCmS kirk-error-message sc-eGAhfa lhTCmS kirk-error-message">@ViewBag.Error</p>
                                            }
                                        </div>
                                    </div>
                                    <div data-testid="new-pwd-1">
                                        <div class="sc-kYWVYA DfnDF kirk-textField">
                                            <div class="kirk-textField-wrapper">
                                                <input spellcheck="false"
                                                       type="password"
                                                       asp-for="NewPassword"
                                                       required
                                                       placeholder="New password"
                                                       value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div data-testid="new-pwd-2">
                                        <div class="sc-kYWVYA DfnDF kirk-textField">
                                            <div class="kirk-textField-wrapper">
                                                <input type="password"
                                                       asp-for="ConfirmPassword"
                                                       required
                                                       placeholder="Confirm new password"
                                                       value="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="presentation" class="sc-ezWOiH enFVJb"></div>
                        <div role="presentation" class="sc-ezWOiH enFVJb">
                            <div class="button-wrapper p-xl justify-center button-wrapper--auto" style="min-height: 40px; margin-top: 12px; ">
                                <button class="kirk-button kirk-button-primary sc-iTONeN jDVucc" type="submit">
                                    <span class="button-label"><span>Change Password</span></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        if (!@String.IsNullOrEmpty(ViewBag.Error)) {
            $("#OldPassword").css("background-color", "red");
        }
    })
</script>