@model DataAcessLayer.ViewModels.ClientLoginView
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

@section Headers{
    <link href="~/ClientAssets/css/rides.css" rel="stylesheet" />
}

<form class="sc-bZkfAO dfCmkc" method="post" asp-action="Login" asp-controller="Account">
    <div role="presentation" class="sc-gicCDI dDCeGO">
        <div role="presentation" class="sc-fctJkW ftnfJP">
            <div class="section-content">
                <h1 class="sc-gsnTZi sc-hTtwUo sc-jgbSNz GJlVl ipZXlI jlbwlf">
                    What&#x27;s your email and password?
                </h1>
                <div class="sc-kYWVYA DfnDF kirk-textField">
                    <div class="kirk-textField-wrapper">
                        <input asp-for="Email"
                               placeholder="Email"
                               autocomplete="email"
                               autoCorrect="off"
                               title="Enter your email address" />

                    </div>
                </div>
                <div class="sc-kYWVYA DfnDF kirk-textField">
                    <div class="kirk-textField-wrapper">
                        <input asp-for="Password"
                               placeholder="Password"
                               autocomplete="current-password"
                               autoCorrect="off"
                               title="Enter your password" />

                        <input type="hidden" asp-for="ReturnUrl" value="@ViewBag.ReturnURL" />


                    </div>
                </div>

            </div>
        </div>
    </div>

    @if (ViewBag.InvalidCredentials != null)
    {
        <div role="presentation" class="sc-ezWOiH enFVJb"  >
            <div class="button-wrapper p-xl justify-center button-wrapper--auto" style="min-height:fit-content!important" >

                <span class="button-label"><span>Invalid Credentials</span></span>

            </div>
        </div>
    }

    <div role="presentation" class="sc-ezWOiH enFVJb">
        <div class="button-wrapper p-xl justify-center button-wrapper--auto" style="min-height: 40px; margin-top: 12px; " >
            <button class="kirk-button kirk-button-primary sc-iTONeN jDVucc"
                    type="submit">
                <span class="button-label"><span>Log in</span></span>
            </button>
        </div>
    </div>


</form>




