@*@model DataAcessLayer.Models.Users.ClientUsers*@
@model DataAcessLayer.ViewModels.Client.UserRegistration_ViewModel
@using DataAcessLayer.Models.Users

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<style>
    .boxinput {
        height: 75px;
        width: 100%;
        border: none;
        background: #e9edf2;
        padding: 0 30px;
        margin-bottom: 20px;
        border-radius: 5px;
        outline: none;
        font-size: 16px;
        color: var(--thm-gray);
        font-weight: 400;
    
    }
</style>

<section class="contact-page">
    <div class="container" style=" width: 50% !important; margin: 0 auto ;">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="contact-page__right">
                    <h2 class="section-title__title" style="display: flex; justify-content: center; margin-bottom: 74px !important;">Register</h2>
                    <form asp-action="Register" asp-controller="Account" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="text" required class="boxinput" placeholder="Your name" asp-for="Name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="number" class="boxinput" placeholder="Enter Mobile Number" inlength="10" required asp-for="MobileNumber">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <select asp-for="Gender" class="boxinput" asp-items="Html.GetEnumSelectList<Gender>()">  </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="date" required class="boxinput" asp-for="BirthDate">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="email" required placeholder="Enter Email" asp-for="Email">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="password" autocomplete="off" class="boxinput" placeholder="Enter Password" inlength="10" required asp-for="Password">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="comment-form__input-box">
                                    <textarea asp-for="Address" required placeholder="Write Address"></textarea>
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="file" class="boxinput" style="padding: 17px; margin: auto; " asp-for="ProfileImage" required placeholder="Select Image" />
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <button type="submit" class="thm-btn comment-form__btn">
                                    Register Now
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
