@model DataAcessLayer.Models.VehicleModels.Vehicle
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section PageTitle{
    Add Vehicles
}
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-horizontal" asp-action="Add" method="post">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Brand</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <select class="form-control dropdown-toggle" asp-for="VehicleBrandId" asp-items="ViewBag.Brands">
                                        <option value="-1">Select Vehicle Brand</option>
                                    </select>

                                </div>
                                <div class="col-md-4">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input asp-for="Name" class="form-control"
                                           placeholder="Name">
                                </div>

                                <div class="col-md-4">
                                    <label>Type</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <select class="form-control dropdown-toggle" asp-for="VehicleTypeId" asp-items="ViewBag.Types">
                                        <option value="-1">Select Vehicle Type</option>
                                    </select>

                                </div>

                                <div class="col-sm-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Add Vehicle</button>
                                    <button type="reset"
                                            class="btn btn-light-secondary me-1 mb-1">
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

