@{
    ViewData["Title"] = "Pickup Time";
    Layout = "~/Views/Shared/_PublishLayout.cshtml";
}

@section Headers{
    <style>
        input[type=time]::-webkit-inner-spin-button,
        input[type=time]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
}

<main class="mainContent relative"
      id="MainContent"
      tabindex="-1"
      style="min-height: 685px; height: auto">
    <div class="transition-wrapper relative fade"
         style="min-height: 685px; height: auto">
        <div class="sc-bZkfAO dfCmkc page-wrapper"
             style="min-height: 685px; height: auto">
            <div class="transition-wrapper relative fade"
                 style="min-height: 685px; height: auto">
                <div class="sc-bZkfAO dfCmkc page-wrapper fade fade-forward-enter-done"
                     style="min-height: 685px; height: auto">
                    <div class="transition-wrapper relative fade"
                         style="min-height: 685px; height: auto">
                        <div class="sc-bZkfAO dfCmkc page-wrapper"
                             style="min-height: 685px; height: auto">
                            <form method="post"
                                  novalidate=""
                                  action=""
                                  name="OneActionForm"
                                  class="oneAction">
                                <div role="presentation" class="sc-fctJkW ftnfJP">
                                    <div class="section-content">
                                        <h1 class="sc-gsnTZi sc-hTtwUo sc-jgbSNz GJlVl ipZXlI jlbwlf">
                                            At what time will you pick passengers up?
                                        </h1>
                                        <div class="sc-bSakgD bSGrjp mt-xl">
                                            <div aria-disabled="false" class="sc-jvLaUc dVmpUg">
                                                <input type="time" name="PickupTime" style="color:rgb(5, 71, 82)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-wrapper p-xl justify-center button-wrapper--auto">
                                    <button class="kirk-button kirk-button-primary sc-iTONeN jDVucc"
                                            type="submit">
                                        <span class="button-label"><span>Continue</span></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>