@{
    ViewData["Title"] = "Ride Note";
    Layout = "~/Views/Shared/_PublishLayout.cshtml";
}
<main class="mainContent relative"
      id="MainContent"
      tabindex="-1"
      style="min-height: 717px; height: auto">
    <div class="transition-wrapper relative fade"
         style="min-height: 717px; height: auto">
        <div class="sc-bZkfAO dfCmkc page-wrapper fade fade-forward-enter-done"
             style="min-height: 717px; height: auto">
            <div class="transition-wrapper relative fade"
                 style="min-height: 717px; height: auto">
                <div class="sc-bZkfAO dfCmkc page-wrapper fade fade-forward-enter-done"
                     style="min-height: 717px; height: auto">
                    <form method="post"
                          novalidate=""
                          action=""
                          name="OneActionForm"
                          class="oneAction">
                        <div role="presentation" class="sc-fctJkW ftnfJP">
                            <div class="section-content">
                                <h1 class="sc-gsnTZi sc-hTtwUo sc-jgbSNz GJlVl ipZXlI jlbwlf">
                                    Anything to add about your ride?
                                </h1>
                                <div class="sc-enyVUO cuuFjX kirk-textarea">
                                    <div class="kirk-textarea-wrapper">
                                        <textarea placeholder="Hello! I'm going for Mairrage and car has less Bootspace.."
                                                  class="kirk-textarea-element"
                                                  required
                                                  name="rideNote"
                                                  maxlength="10000"
                                                  title="Anything to add about your ride?"
                                                  style="height: 150px; width: 573px"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-wrapper p-xl justify-center button-wrapper--auto">
                            <button class="kirk-button kirk-button-primary sc-iTONeN jDVucc"
                                    type="submit">
                                <span class="button-label"><span>Publish ride</span></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>