@model IEnumerable<DataAcessLayer.ViewModels.RideDetailsView>

@{
    ViewData["Title"] = "Rides";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


<div class="row">
    <div class="col-xl-2">

    </div>
    <div class="col-xl-8">

        <h5>Date Here</h5>
    </div>

</div>

<div class="row">
    <div class="col-xl-2">

    </div>
    <div class="col-xl-8">

        Surat -> Ahmedabad <br />
        Ride Count
    </div>

</div>
<div class="listing__list-box">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <!--Listing List Box Single-->
            <div class="listing__list-box-single">

                <div class="listing__list-box-content">
                    <h5 class="listing__list-box-sub-title">Sedan Car</h5>
                    <h3 class="listing__list-box-title">Land Rover Evoque Pure</h3>
                    <p class="listing__list-box-price"><span>$32 </span>/perday</p>
                    <ul class="list-unstyled listing__list-box-details">
                        <li>2016 Petrol</li>
                        <li>Air Condition</li>
                        <li>Auto</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-2"></div>
    </div>
    <!--<div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">-->
    <!--Listing List Box Single-->
    <!--<div class="listing__list-box-single">

                <div class="listing__list-box-content">
                    <h5 class="listing__list-box-sub-title">Sedan Car</h5>
                    <h3 class="listing__list-box-title">Land Rover Evoque Pure</h3>
                    <p class="listing__list-box-price"><span>$32 </span>/perday</p>
                    <ul class="list-unstyled listing__list-box-details">
                        <li>2016 Petrol</li>
                        <li>Air Condition</li>
                        <li>Auto</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-2"></div>
    </div>-->

</div>