@using Microsoft.AspNetCore.Identity
@using DataAcessLayer.Models.Users
@using Microsoft.AspNetCore.Http;



@if (@Context.Session.GetString("UserId") == null)
{
    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
    <li><a asp-controller="Account" asp-action="Register">Sign Up</a></li>

}
else
{
    <li><a asp-controller="Rides" asp-action="Index">Your Rides</a></li>
    <li><a asp-controller="Chat" asp-action="Rooms">Inboxes</a></li>
    <li><a asp-controller="Preferences" asp-action="Index">Preference</a></li>
    @*<li><a asp-controller="Rides" asp-action="Index">Change Password</a></li>*@
    @*<li><a asp-controller="Chat" asp-action="Rooms">Edit Profile</a></li>*@
    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
}