@using Microsoft.AspNetCore.Identity
@using DataAcessLayer.Models.Users
@using Microsoft.AspNetCore.Http;



@if (@Context.Session.GetString("UserId") == null)
{
    <li><a asp-controller="Account" asp-action="Login">Login</a></li>

}
else
{
    <li><a asp-controller="Rides" asp-action="Index">My Rides</a></li>
    <li><a asp-controller="Rides" asp-action="Index">Change Password</a></li>
    <li><a asp-controller="Chat" asp-action="Rooms">Edit Profile</a></li>
    <li><a asp-controller="Chat" asp-action="Rooms">Logout</a></li>
}