@{
    ViewData["Title"] = "Vehicle | Manufacture Year";
    Layout = "~/Views/Shared/_PublishLayout.cshtml";
}


@section Headers{

    input[type = number]::- webkit - inner - spin - button,
    input[type = number]::- webkit - outer - spin - button {
    -webkit - appearance: none;
    margin: 0;
    }
}


<main class="mainContent relative"
      id="MainContent"
      tabindex="-1"
      style="min-height: 685px; height: auto">
    <div class="transition-wrapper relative fade"
         style="min-height: 685px; height: auto">
        <div class="sc-bZkfAO dfCmkc page-wrapper"
             style="min-height: 685px; height: auto">
            <div class="transition-wrapper relative fade"
                 style="min-height: 685px; height: auto">
                <div class="sc-bZkfAO dfCmkc page-wrapper fade fade-forward-enter-done"
                     style="min-height: 685px; height: auto">
                    <div class="transition-wrapper relative fade"
                         style="min-height: 685px; height: auto">
                        <div class="sc-bZkfAO dfCmkc page-wrapper"
                             style="min-height: 685px; height: auto">
                            <form method="post"
                                  novalidate=""
                                  action=""
                                  name="OneActionForm"
                                  class="oneAction">
                                <div role="presentation" class="sc-fctJkW ftnfJP">
                                    <div class="section-content">
                                        <h1 class="sc-gsnTZi sc-hTtwUo sc-jgbSNz GJlVl ipZXlI jlbwlf">
                                            Manufacture year of car
                                        </h1>
                                        <div class="sc-bSakgD bSGrjp mt-xl">
                                            <div aria-disabled="false" class="sc-jvLaUc dVmpUg">
                                                <input type="number" name="Year" step="25" required min="2008" style="color: rgb(5, 71, 82);
                              width: 80%;
                              border: none;
                              text-align: center;
                              outline: none;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-wrapper p-xl justify-center button-wrapper--auto">
                                    <button class="kirk-button kirk-button-primary sc-iTONeN jDVucc"
                                            type="submit">
                                        <span class="button-label"><span>Continue</span></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>