.bhkYMD {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    background-color: #FFF;
    border: 2px solid #054752;
    border-radius: 50%;
}

    /*!sc*/
    .bhkYMD.kirk-bullet--addon {
        border-color: #DDD;
    }

    /*!sc*/
    .bhkYMD.kirk-bullet--small {
        width: 8px;
        height: 8px;
    }

    /*!sc*/
    .bhkYMD.kirk-bullet--map-active,
    .bhkYMD.kirk-bullet--map-inactive,
    .bhkYMD.kirk-bullet--search {
        border-width: 3px;
    }

    /*!sc*/
    .bhkYMD.kirk-bullet--map-active,
    .bhkYMD.kirk-bullet--map-inactive {
        width: 18px;
        height: 18px;
    }

    /*!sc*/
    .bhkYMD.kirk-bullet--search {
        width: 18px;
        height: 18px;
    }

    /*!sc*/
    .bhkYMD.kirk-bullet--map-active {
        border-color: #3D5C62;
        box-shadow: 0 0 0 1px #054752;
    }

    /*!sc*/
    .bhkYMD.kirk-bullet--map-inactive {
        border-color: #DDD;
        box-shadow: 0 0 0 1px #708C91;
    }

    /*!sc*/
    .bhkYMD.kirk-bullet--search {
        border-width: 4px;
        border-color: #708C91;
    }

/*!sc*/
data-styled.g1[id="sc-bdvvtL"] {
    content: "bhkYMD,"
}

/*!sc*/
.erBbkF {
    white-space: pre-line;
}

/*!sc*/
data-styled.g2[id="sc-gsDKAQ"] {
    content: "erBbkF,"
}

/*!sc*/
.cgfVyE {
    color: #054752;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

/*!sc*/
data-styled.g5[id="sc-eCImPb"] {
    content: "cgfVyE,"
}

/*!sc*/
.grmCxQ {
    font-weight: 500;
}

/*!sc*/
data-styled.g6[id="sc-jRQBWg"] {
    content: "grmCxQ,"
}

/*!sc*/
.bEOvQm {
    color: #708C91;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/*!sc*/
data-styled.g7[id="sc-gKclnd"] {
    content: "bEOvQm,"
}

/*!sc*/
.hTHQWP > li > * {
    padding-left: 24px;
    padding-right: 24px;
}

/*!sc*/
.hTHQWP time {
    width: 48px;
    display: initial;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/*!sc*/
data-styled.g8[id="sc-iCfMLu"] {
    content: "hTHQWP,"
}

/*!sc*/
.dgJGMH {
    min-height: 32px;
}

    /*!sc*/
    .dgJGMH > * {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

/*!sc*/
data-styled.g9[id="sc-furwcr"] {
    content: "dgJGMH,"
}

/*!sc*/
.dolFzq {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 8px;
}

/*!sc*/
data-styled.g10[id="sc-pVTFL"] {
    content: "dolFzq,"
}

/*!sc*/
.cDkwFE {
    width: 48px;
    margin-top: 4px;
    white-space: nowrap;
}

/*!sc*/
data-styled.g11[id="sc-jrQzAO"] {
    content: "cDkwFE,"
}

/*!sc*/
.fTujgh {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 32px;
    margin: 0 8px;
    width: 8px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/*!sc*/
data-styled.g12[id="sc-kDTinF"] {
    content: "fTujgh,"
}

/*!sc*/
.jFjUqa {
    width: 4px;
    height: calc(12px + 1px);
    background: transparent;
}

    /*!sc*/
    .jFjUqa:last-child {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

/*!sc*/
.dSOAKu {
    width: 4px;
    height: calc(12px + 1px);
    background: #054752;
}

    /*!sc*/
    .dSOAKu:last-child {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

/*!sc*/
data-styled.g13[id="sc-iqseJM"] {
    content: "jFjUqa,dSOAKu,"
}

/*!sc*/
.dlbSDa {
    position: absolute;
    top: 12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*!sc*/
data-styled.g14[id="sc-crHmcD"] {
    content: "dlbSDa,"
}

/*!sc*/
.dNZZtF {
    fill: #00AFF5;
}

    /*!sc*/
    .dNZZtF.kirk-icon-wrapper {
        display: inline-block;
        position: relative;
    }

    /*!sc*/
    .dNZZtF .kirk-icon-badge {
        position: absolute;
        bottom: 12px;
        left: 12px;
    }

/*!sc*/
.eqtwsd {
    fill: #708C91;
}

    /*!sc*/
    .eqtwsd.kirk-icon-wrapper {
        display: inline-block;
        position: relative;
    }

    /*!sc*/
    .eqtwsd .kirk-icon-badge {
        position: absolute;
        bottom: 12px;
        left: 12px;
    }

/*!sc*/
.hcEKjk {
    fill: #EDEDED;
}

    /*!sc*/
    .hcEKjk.kirk-icon-wrapper {
        display: inline-block;
        position: relative;
    }

    /*!sc*/
    .hcEKjk .kirk-icon-badge {
        position: absolute;
        bottom: 12px;
        left: 12px;
    }

/*!sc*/
.dCzRrk {
    fill: #FFCA0C;
}

    /*!sc*/
    .dCzRrk.kirk-icon-wrapper {
        display: inline-block;
        position: relative;
    }

    /*!sc*/
    .dCzRrk .kirk-icon-badge {
        position: absolute;
        bottom: 12px;
        left: 12px;
    }

/*!sc*/
data-styled.g17[id="sc-ksdxgE"] {
    content: "dNZZtF,eqtwsd,hcEKjk,dCzRrk,"
}

/*!sc*/
.gAqCcU {
    position: relative;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 8px 0 8px 0;
}

    /*!sc*/
    .gAqCcU .kirk-address-hint {
        position: static;
    }

        /*!sc*/
        .gAqCcU .kirk-address-hint aside {
            margin: 0;
        }

/*!sc*/
data-styled.g21[id="sc-bkkeKt"] {
    content: "gAqCcU,"
}

/*!sc*/
.jyJEgP {
    display: block;
}

/*!sc*/
data-styled.g24[id="sc-hGPBjI"] {
    content: "jyJEgP,"
}

/*!sc*/
.eImWfY {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 0;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 4px;
}

    /*!sc*/
    .eImWfY svg + svg {
        margin-left: 4px;
    }

/*!sc*/
data-styled.g31[id="sc-llYSUQ"] {
    content: "eImWfY,"
}

/*!sc*/
.cxfGep {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: calc(100vh - 56px);
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: stretch;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*!sc*/
@media (min-width:800px) {
    .cxfGep {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

/*!sc*/
.cxfGep > *:not(.sc-giYglK, .sc-ezbkAF) {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/*!sc*/
data-styled.g35[id="sc-bYoBSM"] {
    content: "cxfGep,"
}

/*!sc*/
@font-face {
    font-family: 'gt-eesti';
    font-weight: 400;
    src: url('https://cdn.blablacar.com/kairos/assets/build/fonts/GT-Eesti-Pro-Display-Regular.woff2') format('woff2'), url('https://cdn.blablacar.com/kairos/assets/build/fonts/GT-Eesti-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

/*!sc*/
@font-face {
    font-family: 'gt-eesti';
    font-weight: 500;
    src: url('https://cdn.blablacar.com/kairos/assets/build/fonts/GT-Eesti-Pro-Display-Medium.woff2') format('woff2'), url('https://cdn.blablacar.com/kairos/assets/build/fonts/GT-Eesti-Pro-Display-Medium.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

/*!sc*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input,
option,
select,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

/*!sc*/
body {
    line-height: 1;
    color: #054752;
    background-color: #FFF;
}

/*!sc*/
ol,
ul {
    list-style: none;
}

/*!sc*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*!sc*/
a {
    color: #00AFF5;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

/*!sc*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

/*!sc*/
html {
    font-family: gt-eesti, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    quotes: '“''”';
    -webkit-text-size-adjust: 100%;
}

/*!sc*/
button {
    -webkit-appearance: none;
    background: none;
    cursor: pointer;
}

/*!sc*/
:lang(de) {
    quotes: '„''“';
}

/*!sc*/
:lang(fr) {
    quotes: '« '' »';
}

/*!sc*/
:lang(es-ES) {
    quotes: '«''»';
}

/*!sc*/
:lang(hu) {
    quotes: '„''“';
}

/*!sc*/
:lang(pl) {
    quotes: '„''“';
}

/*!sc*/
:lang(ru) {
    quotes: '« '' »';
}

/*!sc*/
data-styled.g39[id="sc-global-bWiCRR1"] {
    content: "sc-global-bWiCRR1,"
}

/*!sc*/
.ctnHkd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/*!sc*/
data-styled.g42[id="sc-cCcXHH"] {
    content: "ctnHkd,"
}

/*!sc*/
.jKcvnS {
    position: relative;
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 24px;
    border: 1px solid transparent;
    border-radius: 48px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    height: 48px;
    min-width: 48px;
    max-width: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: max-width 500ms ease-in, background-color 200ms ease-in;
    transition: max-width 500ms ease-in, background-color 200ms ease-in;
    white-space: nowrap;
}

    /*!sc*/
    .jKcvnS svg,
    .jKcvnS img {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    /*!sc*/
    .jKcvnS svg {
        margin-right: 8px;
    }

    /*!sc*/
    .jKcvnS.kirk-button-bubble svg {
        margin: 0;
    }

    /*!sc*/
    .jKcvnS.kirk-itemChoice {
        border-radius: 0;
        overflow: visible;
        width: 100%;
    }

    /*!sc*/
    .jKcvnS:hover,
    .jKcvnS:active {
        outline: 0;
    }

    /*!sc*/
    .jKcvnS[disabled] {
        opacity: 0.5;
        cursor: default;
    }

    /*!sc*/
    .jKcvnS.kirk-button-primary {
        background-color: #00AFF5;
        color: #FFF;
    }

        /*!sc*/
        .jKcvnS.kirk-button-primary:hover,
        .jKcvnS.kirk-button-primary:focus,
        .jKcvnS.kirk-button-primary:active {
            background-color: #008FC1;
        }

    /*!sc*/
    .jKcvnS.kirk-button-secondary {
        background-color: #FFF;
        border-color: #DDD;
        color: #00AFF5;
    }

        /*!sc*/
        .jKcvnS.kirk-button-secondary:hover,
        .jKcvnS.kirk-button-secondary:focus,
        .jKcvnS.kirk-button-secondary:active {
            background-color: #DDD;
        }

    /*!sc*/
    .jKcvnS.kirk-button-tertiary {
        background-color: #FFF;
        border-color: transparent;
        color: #00AFF5;
    }

        /*!sc*/
        .jKcvnS.kirk-button-tertiary:hover,
        .jKcvnS.kirk-button-tertiary:focus,
        .jKcvnS.kirk-button-tertiary:active {
            background-color: #DDD;
        }

    /*!sc*/
    .jKcvnS.kirk-button-loading {
        background-color: transparent;
        max-width: initial;
        border: 0;
    }

        /*!sc*/
        .jKcvnS.kirk-button-loading:hover,
        .jKcvnS.kirk-button-loading:focus,
        .jKcvnS.kirk-button-loading:active {
            background-color: transparent;
        }

        /*!sc*/
        .jKcvnS.kirk-button-loading[disabled],
        .jKcvnS.kirk-button-checked[disabled] {
            opacity: 1;
        }

    /*!sc*/
    .jKcvnS svg.kirk-button-loader {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -24px;
    }

    /*!sc*/
    .jKcvnS.kirk-button-checked {
        border: 0;
    }

    /*!sc*/
    .jKcvnS.kirk-button-warning {
        background-color: #F53F5B;
        color: #FFF;
    }

    /*!sc*/
    .jKcvnS.kirk-button-bubble {
        display: inline-block;
        text-align: center;
        padding: 0;
        line-height: 0;
        width: 48px;
        height: 48px;
    }

/*!sc*/
@media (hover:none), (hover:on-demand) {
    .jKcvnS.kirk-button-secondary:hover {
        background-color: #FFF;
    }
}

/*!sc*/
.jKcvnS span {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    line-height: 24px;
}

/*!sc*/
data-styled.g46[id="sc-iUKqMP"] {
    content: "jKcvnS,"
}

/*!sc*/
.FXZdp.kirk-modal-dimmer,
.FXZdp.kirk-modal-dimmer--fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 999;
}

/*!sc*/
.FXZdp.kirk-modal-dimmer--visible {
    background-color: rgba(0, 0, 0, 0.5);
}

/*!sc*/
.FXZdp.kirk-modal-dimmer--hide {
    background-color: #FFF;
}

/*!sc*/
.FXZdp.kirk-modal-dimmer--fullscreen {
    background-color: transparent;
}

/*!sc*/
.FXZdp.kirk-modal-dimmer--inactive {
    background-color: transparent;
    pointer-events: none;
}

/*!sc*/
.FXZdp .kirk-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/*!sc*/
.FXZdp .kirk-modal-dialog {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 24px;
    padding-bottom: 0;
    margin: 24px auto;
    width: 662px;
    background-color: #FFF;
    border-radius: 8px;
}

/*!sc*/
.FXZdp .kirk-modal--small .kirk-modal-dialog {
    width: 400px;
}

/*!sc*/
.FXZdp .kirk-modal--large .kirk-modal-dialog {
    width: 928px;
}

/*!sc*/
.FXZdp .kirk-modal-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/*!sc*/
.FXZdp.kirk-modal-dimmer--fullscreen .kirk-modal-dialog {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    width: auto;
    min-height: 100%;
}

/*!sc*/
.FXZdp .kirk-modal--hasCloseButton .kirk-modal-dialog {
    padding-top: 70px;
}

/*!sc*/
.FXZdp .kirk-modal--hasCloseButton .kirk-button.kirk-modal-closeButton {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: transparent;
}

/*!sc*/
@media (max-width:799px) {
    .FXZdp .media-section {
        margin-left: -24px;
        margin-right: -24px;
    }
}

/*!sc*/
.kHzwOe.kirk-modal-dimmer,
.kHzwOe.kirk-modal-dimmer--fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 999;
}

/*!sc*/
.kHzwOe.kirk-modal-dimmer--visible {
    background-color: rgba(0, 0, 0, 0.5);
}

/*!sc*/
.kHzwOe.kirk-modal-dimmer--hide {
    background-color: #FFF;
}

/*!sc*/
.kHzwOe.kirk-modal-dimmer--fullscreen {
    background-color: transparent;
}

/*!sc*/
.kHzwOe.kirk-modal-dimmer--inactive {
    background-color: transparent;
    pointer-events: none;
}

/*!sc*/
.kHzwOe .kirk-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/*!sc*/
.kHzwOe .kirk-modal-dialog {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 24px auto;
    width: 662px;
    background-color: #FFF;
    border-radius: 8px;
}

/*!sc*/
.kHzwOe .kirk-modal--small .kirk-modal-dialog {
    width: 400px;
}

/*!sc*/
.kHzwOe .kirk-modal--large .kirk-modal-dialog {
    width: 928px;
}

/*!sc*/
.kHzwOe .kirk-modal-body {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/*!sc*/
.kHzwOe.kirk-modal-dimmer--fullscreen .kirk-modal-dialog {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    width: auto;
    min-height: 100%;
}

/*!sc*/
.kHzwOe .kirk-modal--hasCloseButton .kirk-modal-dialog {
    padding-top: 70px;
}

/*!sc*/
.kHzwOe .kirk-modal--hasCloseButton .kirk-button.kirk-modal-closeButton {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: transparent;
}

/*!sc*/
@media (max-width:799px) {
    .kHzwOe .media-section {
        margin-left: -24px;
        margin-right: -24px;
    }
}

/*!sc*/
data-styled.g47[id="sc-iAKWXU"] {
    content: "FXZdp,kHzwOe,"
}

/*!sc*/
.PEdbg {
    color: #054752;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
}

/*!sc*/
data-styled.g53[id="sc-cNKqjZ"] {
    content: "PEdbg,"
}

/*!sc*/
.eCTxfx {
    font-weight: 500;
}

/*!sc*/
data-styled.g54[id="sc-AjmGg"] {
    content: "eCTxfx,"
}

/*!sc*/
.gDyKsp {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 8px;
}

/*!sc*/
data-styled.g55[id="sc-khQegj"] {
    content: "gDyKsp,"
}

/*!sc*/
.bgUvCU {
    position: fixed;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background-color: #FFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    z-index: 60;
}

    /*!sc*/
    .bgUvCU.kirk-topBar--scrolled {
        border-bottom: 1px solid #DDD;
    }

    /*!sc*/
    .bgUvCU .kirk-topBar-inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin: auto;
        font-weight: 500;
    }

    /*!sc*/
    .bgUvCU .kirk-topBar-left,
    .bgUvCU .kirk-topBar-right {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    /*!sc*/
    .bgUvCU .kirk-topBar-left {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    /*!sc*/
    .bgUvCU .kirk-topBar-center {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    /*!sc*/
    .bgUvCU .kirk-topBar-right {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

/*!sc*/
@media (min-width:800px) {
    .bgUvCU {
        height: 72px;
        padding: 0 24px;
    }

        .bgUvCU .kirk-topBar-inner {
            width: 1280px;
        }

            .bgUvCU .kirk-topBar-inner div:nth-child(3n) {
                -webkit-flex: none;
                -ms-flex: none;
                flex: none;
            }
}

/*!sc*/
data-styled.g61[id="sc-jeraig"] {
    content: "bgUvCU,"
}

/*!sc*/
.djHSaA.kirk-drawer--open {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    visibility: visible;
    -webkit-transition-delay: 0;
    transition-delay: 0;
}

/*!sc*/
.djHSaA.kirk-drawer--close {
    visibility: hidden;
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
    -webkit-transition-property: visibility;
    transition-property: visibility;
}

/*!sc*/
.djHSaA .kirk-drawer-scrollableContent {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 56px;
    bottom: 0;
    overflow-y: auto;
    background-color: #FFF;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    -webkit-transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    will-change: transform;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
}

/*!sc*/
.djHSaA.kirk-drawer--open .kirk-drawer-scrollableContent {
    box-shadow: 0 36px 36px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

/*!sc*/
.djHSaA.kirk-drawer--close .kirk-drawer-scrollableContent {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

/*!sc*/
@media (min-width:800px) {
    .djHSaA.djHSaA {
        left: 50%;
        right: auto;
        top: 0;
        bottom: 0;
        width: 100%;
        width: 1280px;
        position: fixed;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .djHSaA .kirk-drawer-scrollableContent {
        top: 72px;
        left: auto;
        right: auto;
        width: 350px;
        float: right;
        position: relative;
    }

    .djHSaA.kirk-drawer--close .kirk-drawer-scrollableContent {
        -webkit-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
        transform: translateY(-100vh);
    }
}

/*!sc*/
data-styled.g62[id="sc-eJwWfJ"] {
    content: "djHSaA,"
}

/*!sc*/
.byfaVK {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    -webkit-transition: opacity 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

    /*!sc*/
    .byfaVK.kirk-drawer-dimmer--active {
        visibility: visible;
        opacity: 0.07;
        z-index: 49;
    }

/*!sc*/
data-styled.g63[id="sc-nVkyK"] {
    content: "byfaVK,"
}

/*!sc*/
.kirk-scroll-lock {
    overflow-y: hidden;
}

/*!sc*/
data-styled.g64[id="sc-global-iBwqPH1"] {
    content: "sc-global-iBwqPH1,"
}

/*!sc*/
.gtMCAh {
    position: relative;
    display: inline-block;
}

    /*!sc*/
    .gtMCAh > button {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #00AFF5;
        background: none;
        border: 0;
        font-size: 16px;
        cursor: pointer;
    }

    /*!sc*/
    .gtMCAh .kirk-icon {
        -webkit-transition: -webkit-transform 200ms ease-out;
        -webkit-transition: transform 200ms ease-out;
        transition: transform 200ms ease-out;
    }

    /*!sc*/
    .gtMCAh.kirk-dropdownButton--open .kirk-icon {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

/*!sc*/
data-styled.g65[id="sc-hiwPVj"] {
    content: "gtMCAh,"
}

/*!sc*/
.bZCmSV {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style-type: none;
}

/*!sc*/
data-styled.g68[id="sc-gGCDDS"] {
    content: "bZCmSV,"
}

/*!sc*/
.gHhpVx {
    margin: 0;
    font-weight: 400;
}

    /*!sc*/
    .gHhpVx.kirk-text-button {
        color: #054752;
        font-size: 16px;
        line-height: 20px;
    }

    /*!sc*/
    .gHhpVx.kirk-text-body,
    .gHhpVx.kirk-text-bodyStrong {
        color: #708C91;
        font-size: 16px;
        line-height: 20px;
    }

    /*!sc*/
    .gHhpVx.kirk-text-caption {
        color: #708C91;
        font-size: 13px;
        line-height: 16px;
    }

    /*!sc*/
    .gHhpVx.kirk-text-title,
    .gHhpVx.kirk-text-titleStrong {
        color: #054752;
        font-size: 18px;
        line-height: 20px;
    }

    /*!sc*/
    .gHhpVx.kirk-text-display2 {
        color: #054752;
        font-size: 82px;
        line-height: 82px;
        font-weight: 500;
    }

    /*!sc*/
    .gHhpVx.kirk-text-display1 {
        color: #054752;
        font-size: 30px;
        line-height: 1.06;
        font-weight: 500;
    }

    /*!sc*/
    .gHhpVx.kirk-text-subheader,
    .gHhpVx.kirk-text-subheaderStrong {
        color: #054752;
        font-size: 22px;
        line-height: 24px;
    }

    /*!sc*/
    .gHhpVx.kirk-text-title,
    .gHhpVx.kirk-text-titleStrong {
        color: #054752;
        font-size: 18px;
        line-height: 20px;
    }

    /*!sc*/
    .gHhpVx.kirk-text-bodyStrong,
    .gHhpVx.kirk-text-subheaderStrong,
    .gHhpVx.kirk-text-titleStrong {
        font-weight: 500;
    }

/*!sc*/
data-styled.g70[id="sc-faUpoM"] {
    content: "gHhpVx,"
}

/*!sc*/
.kNDdlo {
    padding-left: 24px;
    padding-right: 24px;
}

/*!sc*/
.kNDdlo {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 0;
    background: none;
    /* white-space: pre-line; */
}

    /*!sc*/
    .kNDdlo.kirk-item--clickable:hover {
        cursor: pointer;
        background: #EDEDED;
    }

    /*!sc*/
    .kNDdlo.kirk-item--hideHoverBackground.kirk-item--clickable:hover {
        background: none;
    }

    /*!sc*/
    .kNDdlo.kirk-item--wrappable {
        -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        padding-top: 8px;
        padding-bottom: 8px;
    }

        /*!sc*/
        .kNDdlo.kirk-item--wrappable .kirk-item-leftWrapper {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        /*!sc*/
        .kNDdlo.kirk-item--wrappable .kirk-item-leftText {
            margin-right: 24px;
        }

        /*!sc*/
        .kNDdlo.kirk-item--wrappable .kirk-item-rightText {
            margin-left: 0;
            margin-top: 8px;
            margin-bottom: 8px;
            text-align: left;
        }

    /*!sc*/
    .kNDdlo .kirk-item-tagToken {
        display: block;
        padding-bottom: 4px;
    }

    /*!sc*/
    .kNDdlo:disabled {
        cursor: default;
    }

/*!sc*/
a.sc-Galmp {
    background: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(221, 221, 221, .4);
    -webkit-touch-callout: none;
}

/*!sc*/
button.sc-Galmp {
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-family: inherit;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(221, 221, 221, .4);
    -webkit-touch-callout: none;
}

/*!sc*/
button:focus:not(.focus-visible).sc-Galmp {
    outline: none;
}

/*!sc*/
.kNDdlo .kirk-item-leftWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.kNDdlo .kirk-item-leftText {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/*!sc*/
.kNDdlo .kirk-item-rightText {
    margin-left: 16px;
    text-align: right;
}

/*!sc*/
.kNDdlo .kirk-text {
    display: block;
}

/*!sc*/
.kNDdlo .kirk-item-title--withBody {
    margin-bottom: 4px;
}

/*!sc*/
.kNDdlo .kirk-item--strikethrough {
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
}

/*!sc*/
.kNDdlo .kirk-item-title--withButtonAddon {
    position: relative;
}

/*!sc*/
.kNDdlo .kirk-item-leftAddon,
.kNDdlo .kirk-item-rightAddon {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-width: 24px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.kNDdlo .kirk-item-leftAddon {
    margin-right: 16px;
    color: #054752;
}

/*!sc*/
.kNDdlo .kirk-item-rightAddon {
    margin-left: 16px;
}

/*!sc*/
.kNDdlo .kirk-item-rightText--withAddon {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    /*!sc*/
    .kNDdlo .kirk-item-rightText--withAddon svg {
        margin-right: 8px;
    }

/*!sc*/
.kNDdlo.kirk-item--highlighted .kirk-text-title {
    color: #00AFF5;
}

/*!sc*/
.kNDdlo .kirk-item-title--withButtonAddon button {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    bottom: 0;
}

/*!sc*/
data-styled.g71[id="sc-Galmp"] {
    content: "kNDdlo,"
}

/*!sc*/
.ctNlLp {
    border: 2px dashed #DDD;
    box-sizing: border-box;
    border-radius: 50%;
    position: relative;
    width: 48px;
    height: 48px;
}

    /*!sc*/
    .ctNlLp.kirk-avatar--small {
        height: 24px;
        width: 24px;
    }

    /*!sc*/
    .ctNlLp.kirk-avatar--multiple {
        height: 40px;
        width: 40px;
    }

    /*!sc*/
    .ctNlLp.kirk-avatar--medium {
        height: 96px;
        width: 96px;
    }

    /*!sc*/
    .ctNlLp.kirk-avatar--large {
        height: 156px;
        width: 156px;
    }

    /*!sc*/
    .ctNlLp.kirk-avatar--image {
        border: none;
    }

        /*!sc*/
        .ctNlLp.kirk-avatar--image img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    /*!sc*/
    .ctNlLp .kirk-badge.kirk-avatar-badge--unreadNotifications,
    .ctNlLp .kirk-badge.kirk-avatar-badge--idCheck {
        z-index: 2;
        position: absolute;
    }

    /*!sc*/
    .ctNlLp .kirk-badge.kirk-avatar-badge--unreadNotifications {
        top: -6px;
        right: -6px;
    }

    /*!sc*/
    .ctNlLp .kirk-badge.kirk-avatar-badge--idCheck {
        bottom: -3px;
        right: -3px;
        width: 18px;
        height: 18px;
        padding: 0;
        border-radius: 50%;
        background-color: #5DD167;
    }

    /*!sc*/
    .ctNlLp.kirk-avatar--medium .kirk-badge.kirk-avatar-badge--idCheck,
    .ctNlLp.kirk-avatar--large .kirk-badge.kirk-avatar-badge--idCheck {
        bottom: 0;
        right: 0;
    }

    /*!sc*/
    .ctNlLp .kirk-avatar--medium .kirk-badge.kirk-avatar-badge--idCheck {
        width: 24px;
        height: 24px;
    }

    /*!sc*/
    .ctNlLp .kirk-avatar--large .kirk-badge.kirk-avatar-badge--idCheck {
        width: 36px;
        height: 36px;
    }

    /*!sc*/
    .ctNlLp .kirk-avatar-mask {
        position: absolute;
        width: 48px;
        height: 48px;
    }

    /*!sc*/
    .ctNlLp.kirk-avatar--small .kirk-avatar-mask {
        width: 24px;
        height: 24px;
    }

    /*!sc*/
    .ctNlLp.kirk-avatar--multiple .kirk-avatar-mask {
        width: 38px;
        height: 38px;
    }

    /*!sc*/
    .ctNlLp.kirk-avatar--medium .kirk-avatar-mask {
        width: 96px;
        height: 96px;
    }

    /*!sc*/
    .ctNlLp.kirk-avatar--large .kirk-avatar-mask {
        width: 156px;
        height: 156px;
    }

    /*!sc*/
    .ctNlLp .kirk-avatar--medium .kirk-badge.kirk-avatar-badge--unreadNotifications {
        height: 24px;
        line-height: 23px;
        font-size: 14px;
        padding: 0 6px;
    }

    /*!sc*/
    .ctNlLp .kirk-avatar--large .kirk-badge.kirk-avatar-badge--unreadNotifications {
        height: 36px;
        line-height: 34px;
        font-size: 18px;
        padding: 0 8px;
    }

/*!sc*/
data-styled.g72[id="sc-fWCJzd"] {
    content: "ctNlLp,"
}

/*!sc*/
.RstEA {
    display: grid;
    grid-template-columns: repeat(12, 104px);
    margin: 0 auto;
    max-width: 1248px;
}

/*!sc*/
@media (max-width:1272px) {
    .RstEA {
        grid-template-columns: repeat(12, 1fr);
    }
}

/*!sc*/
@media (max-width:960px) {
    .RstEA {
        grid-template-columns: repeat(8, 1fr);
    }
}

/*!sc*/
@media (max-width:640px) {
    .RstEA {
        grid-template-columns: repeat(6, 1fr);
    }
}

/*!sc*/
data-styled.g81[id="sc-kHOZwM"] {
    content: "RstEA,"
}

/*!sc*/
.gDPfbZ {
    grid-column: 3 / 11;
}

/*!sc*/
@media (max-width:960px) {
    .gDPfbZ {
        grid-column: 2 / 8;
    }
}

/*!sc*/
@media (max-width:640px) {
    .gDPfbZ {
        grid-column: 1 / 7;
    }
}

/*!sc*/
data-styled.g83[id="sc-dtMgUX"] {
    content: "gDPfbZ,"
}

/*!sc*/
@media (min-width:800px) {
    .ghIEhT .section-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 662px;
    }

        .ghIEhT .section-content.section-content--large {
            max-width: 1016px;
        }
}

/*!sc*/
data-styled.g88[id="sc-fbyfCU"] {
    content: "ghIEhT,"
}

/*!sc*/
.iHYtCK {
    display: inline-block;
    padding: 0.1em 0 0;
    margin: 0 8px;
    height: 0.9em;
    width: 0.9em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

/*!sc*/
data-styled.g99[id="sc-dtDOqo"] {
    content: "iHYtCK,"
}

/*!sc*/
.jazWNw {
    padding-left: 24px;
    padding-right: 24px;
}

/*!sc*/
data-styled.g100[id="sc-dkYRCH"] {
    content: "jazWNw,"
}

/*!sc*/
.cJCBpU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 54px;
    padding: 0 16px;
    background-color: #EDEDED;
    border-radius: 16px;
    color: #054752;
    font-size: 16px;
    line-height: 54px;
    -webkit-text-decoration: none;
    text-decoration: none;
}

    /*!sc*/
    .cJCBpU .kirk-uneditableTextField-label:not(:first-child) {
        margin-left: 16px;
    }

    /*!sc*/
    .cJCBpU .kirk-uneditableTextField-label--ellipsis {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    /*!sc*/
    .cJCBpU .kirk-uneditableTextField-label--placeholder {
        color: #708C91;
    }

/*!sc*/
data-styled.g101[id="sc-XxNYO"] {
    content: "cJCBpU,"
}

/*!sc*/
.gfKPhO .kirk-uneditableTextField {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

    /*!sc*/
    .gfKPhO .kirk-uneditableTextField .kirk-icon {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

/*!sc*/
.gfKPhO .kirk-uneditableTextField-label {
    width: calc(100% - (16px * 3));
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*!sc*/
.gfKPhO .kirk-requestRecap-route {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

/*!sc*/
.gfKPhO .kirk-requestRecap-locationSeparator {
    margin: 0 4px;
    height: 20px;
    position: relative;
    top: 1px;
}

/*!sc*/
.gfKPhO .kirk-requestRecap-location {
    display: inline-block;
    text-overflow: ellipsis;
    max-width: calc(50% - (14px / 2) - 4px);
    overflow: hidden;
    white-space: nowrap;
}

/*!sc*/
.gfKPhO.gfKPhO .kirk-requestRecap-location,
.gfKPhO.gfKPhO .kirk-requestRecap-info {
    font-size: 13px;
    line-height: 20px;
}

/*!sc*/
@media (min-width:800px) {

    .gfKPhO.gfKPhO .kirk-requestRecap-location,
    .gfKPhO.gfKPhO .kirk-requestRecap-info {
        font-size: 16px;
    }

    .gfKPhO .kirk-requestRecap-locationSeparator {
        top: 0;
    }
}

/*!sc*/
data-styled.g102[id="sc-ilfuhL"] {
    content: "gfKPhO,"
}

/*!sc*/
.dFBBCp {
    position: relative;
}

/*!sc*/
data-styled.g113[id="sc-FNXRL"] {
    content: "dFBBCp,"
}

/*!sc*/
.EwDSm {
    position: absolute;
    background: #FFF;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 420ms ease-in-out, visibility 420ms ease-in-out;
    transition: opacity 420ms ease-in-out, visibility 420ms ease-in-out;
}

/*!sc*/
data-styled.g114[id="sc-jWUzzU"] {
    content: "EwDSm,"
}

/*!sc*/
.humUME > * {
    margin-bottom: 8px;
}

/*!sc*/
.humUME .kirk-cardItem {
    padding-left: 24px;
    padding-right: 24px;
    isolation: isolate;
}

/*!sc*/
data-styled.g116[id="sc-fmBCVi"] {
    content: "humUME,"
}

/*!sc*/
.NGnPK {
    border-radius: 16px;
    box-shadow: 0 1pt 4pt rgba(0, 0, 0, 0.16), 0 2pt 8pt rgba(0, 0, 0, 0.08);
    list-style-type: none;
    -webkit-transition: box-shadow 200ms ease-in;
    transition: box-shadow 200ms ease-in;
    background-color: #FFF;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

    /*!sc*/
    .NGnPK:hover {
        box-shadow: 0 2pt 8pt rgba(0, 0, 0, 0.08), 0 2pt 16pt rgba(0, 0, 0, 0.08);
    }

/*!sc*/
data-styled.g117[id="sc-lkgTHX"] {
    content: "NGnPK,"
}

/*!sc*/
.kpWJyC {
    padding-left: 24px;
    padding-right: 24px;
}

    /*!sc*/
    .kpWJyC .kirk-item-leftText {
        word-break: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    /*!sc*/
    .kpWJyC .kirk-item-leftWrapper {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

/*!sc*/
data-styled.g118[id="sc-jlRLRk"] {
    content: "kpWJyC,"
}

/*!sc*/
.gvUPEB {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4px;
}

/*!sc*/
data-styled.g119[id="sc-dUbtfd"] {
    content: "gvUPEB,"
}

/*!sc*/
.iStbxd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
}

/*!sc*/
data-styled.g120[id="sc-htJRVC"] {
    content: "iStbxd,"
}

/*!sc*/
.cSwDqa {
    margin-left: 8px;
}

/*!sc*/
data-styled.g122[id="sc-hjGZqJ"] {
    content: "cSwDqa,"
}

/*!sc*/
.dcqCpy {
    color: #708C91;
    margin-left: 8px;
}

/*!sc*/
data-styled.g123[id="sc-gUQvok"] {
    content: "dcqCpy,"
}

/*!sc*/
.ioYMtt {
    display: inline-block;
    margin-left: 8px;
}

/*!sc*/
data-styled.g124[id="sc-fXeWAj"] {
    content: "ioYMtt,"
}

/*!sc*/
.coHaIU {
    position: relative;
}

    /*!sc*/
    .coHaIU a {
        display: block;
        -webkit-text-decoration: none;
        text-decoration: none;
    }

    /*!sc*/
    .coHaIU.kirk-tripCard--with-badge {
        position: relative;
        padding-top: 24px;
    }

    /*!sc*/
    .coHaIU .kirk-tripCard-badge {
        position: absolute;
        top: 0;
        background: #00AFF5;
        padding: 4px 8px;
        border-radius: 0 0 8px 8px;
    }

    /*!sc*/
    .coHaIU .kirk-tripCard-profile {
        padding-top: 8px;
        padding-bottom: 0;
    }

    /*!sc*/
    .coHaIU .kirk-item.kirk-tripCard-top-item {
        padding-top: 0;
        padding-left: 0;
    }

    /*!sc*/
    .coHaIU .kirk-item--highlighted .kirk-text-body {
        color: #00AFF5;
    }

    /*!sc*/
    .coHaIU .kirk-tripCard-title + .kirk-tripCard-mainContainer {
        margin-top: 8px;
    }

    /*!sc*/
    .coHaIU .kirk-tripCard-mainContainer {
        height: 100%;
        padding: 16px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    /*!sc*/
    .coHaIU .kirk-tripCard-main {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    /*!sc*/
    .coHaIU .kirk-tripCard-itinerary {
        min-width: 0;
        position: relative;
        left: -24px;
    }

    /*!sc*/
    .coHaIU .kirk-tripCard-discount {
        color: #00AFF5;
    }

    /*!sc*/
    .coHaIU .kirk-tripCard-bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    /*!sc*/
    .coHaIU .kirk-tripCard-passengers {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-width: 0;
    }

    /*!sc*/
    .coHaIU .kirk-tripCard-passengers {
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        list-style-type: none;
    }

        /*!sc*/
        .coHaIU .kirk-tripCard-passengers .kirk-tripCard-avatar {
            margin-right: -8px;
        }

        /*!sc*/
        .coHaIU .kirk-tripCard-passengers .kirk-avatar {
            border: 2px solid #FFF;
            background: #FFF;
        }

        /*!sc*/
        .coHaIU .kirk-tripCard-passengers .kirk-tripCard-passengers-more {
            background: #054752;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            border: 2px solid #FFF;
            line-height: 38px;
            text-align: center;
        }

/*!sc*/
data-styled.g126[id="sc-gyElHZ"] {
    content: "coHaIU,"
}

/*!sc*/
.ginVSb {
    padding-left: 0;
    padding-right: 0;
}

/*!sc*/
data-styled.g127[id="sc-gjNHFA"] {
    content: "ginVSb,"
}

/*!sc*/
.bRjJtV {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-top: 8px;
    white-space: nowrap;
}

/*!sc*/
data-styled.g129[id="sc-eXlEPa"] {
    content: "bRjJtV,"
}

/*!sc*/
.htbXWo {
    position: absolute;
    background: #FFF;
    border-radius: 16px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.8;
    display: none;
    z-index: 3;
}

/*!sc*/
data-styled.g131[id="sc-iqVWFU"] {
    content: "htbXWo,"
}

/*!sc*/
@font-face {
    font-family: 'gt-eesti';
    font-weight: 400;
    src: url('https://cdn.blablacar.com/kairos/assets/build/fonts/GT-Eesti-Pro-Display-Regular.woff2') format('woff2'), url('https://cdn.blablacar.com/kairos/assets/build/fonts/GT-Eesti-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

/*!sc*/
@font-face {
    font-family: 'gt-eesti';
    font-weight: 500;
    src: url('https://cdn.blablacar.com/kairos/assets/build/fonts/GT-Eesti-Pro-Display-Medium.woff2') format('woff2'), url('https://cdn.blablacar.com/kairos/assets/build/fonts/GT-Eesti-Pro-Display-Medium.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

/*!sc*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input,
option,
select,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

/*!sc*/
body {
    line-height: 1;
    color: #054752;
    background-color: #FFF;
}

/*!sc*/
ol,
ul {
    list-style: none;
}

/*!sc*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*!sc*/
a {
    color: #00AFF5;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

/*!sc*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

/*!sc*/
html {
    font-family: gt-eesti, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    quotes: '“''”';
    -webkit-text-size-adjust: 100%;
}

/*!sc*/
button {
    -webkit-appearance: none;
    background: none;
    cursor: pointer;
}

/*!sc*/
:lang(de) {
    quotes: '„''“';
}

/*!sc*/
:lang(fr) {
    quotes: '« '' »';
}

/*!sc*/
:lang(es-ES) {
    quotes: '«''»';
}

/*!sc*/
:lang(hu) {
    quotes: '„''“';
}

/*!sc*/
:lang(pl) {
    quotes: '„''“';
}

/*!sc*/
:lang(ru) {
    quotes: '« '' »';
}

/*!sc*/
data-styled.g151[id="sc-global-bWiCRR2"] {
    content: "sc-global-bWiCRR2,"
}

/*!sc*/
.kirk-scroll-lock {
    overflow-y: hidden;
}

/*!sc*/
data-styled.g152[id="sc-global-iBwqPH2"] {
    content: "sc-global-iBwqPH2,"
}

/*!sc*/


/* ride */
.ddANCp {
    padding-left: 4px;
    color: rgb(93, 209, 103);
}

.hsXUUV > * {
    display: flex;
}

.hdhUSy {
    position: relative;
    flex: 1 1 0%;
    padding: 8px 24px 8px 0px;
}

.bFBmuD {
    display: block;
    color: rgb(5, 71, 82);
    margin-top: 4px;
}

.cYtYvD {
    padding-left: 4px;
    color: rgb(247, 139, 0);
}

.ikczMY {
    /* color: rgb(112, 140, 145); */
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.cMVgjB {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.cwrRNq {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 4px;
}

.daGzFx {
    color: rgb(5, 71, 82);
    font-size: 30px;
    line-height: 1.06;
    font-weight: 500;
}

.JGsMk {
    text-align: center;
    font-size: var(--font-size-desktop);
}

.JGsMk {
    --space-bottom: 32px;
    --font-size-desktop: 40px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0px;
}

.ijebKB {
    display: flex;
    flex-direction: column;
    padding: 8px 24px;
    word-break: break-word;
}

.my-xl {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

.hhmynR {
    position: sticky;
    flex: 1 1 100%;
    bottom: 0px;
    background: rgb(255, 255, 255);
    z-index: 2;
    border-top: 1px solid rgb(237, 237, 237);
}

.Uwbpz {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 16px 0px;
}
